body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #111;
    color: #fff;
    text-align: center;
    overflow-x: hidden;
}

/* Navigation */

nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background: transparent;
    transition: 0.3s;
}

nav.scrolled {
    background: rgb(0, 0, 0, 0.9);
}

.nav-links {
    list-style: none;
    display: flex; 
}

.nav-links li {
    margin: 0 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

.nav-links a:hover {
    color: gray;
}

/* Hero Section */
#hero {
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #111, #222);
}

.btn {
    margin: 20px;
    padding: 10px 20px;
    background-color: gray;
    color: black; 
    border: none;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px;
}

.btn:hover {
    background-color: #fff;   
}

/* Section */

section {
    padding: 80px 20px;
}

.skills-container { 
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    margin: auto;
}

.education, .hard-skills, .soft-skills {
    width: 30%;
}

/* Projects */
.project-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.project-card {
    background: #222;
    padding: 20px;
    border-radius: 10px; 
    width: 40%;
}

/* Contact */
#contact {
    background: #333;
    padding: 40px;
}

footer {
    background: black;
    padding: 20px; 
}

/* Responsive */
@media (max-width: 768px) {
    .skills-container, .project-container {
        flex-direction: column;
        align-items: center;
    }
    .education, .hard-skills, .soft-skills, .project-card {
        width: 90%;
    }
}