* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --bg-color: #121212;
    --text-color: #ffffff;
    --primary-color: #ffffff;
    --accent-color: #888888;
    --button-bg: #ffffff;
    --button-text: #000000;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    text-align: center;
}

header {
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

nav ul li a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s;
}


nav ul li a:hover {
    color: var(--accent-color);
}

.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

.hero-content {
    max-width: 600px;
}
.profile-pic img {
    width: 150px;
    height: auto;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    margin-bottom: 20px;
    text-align: center;
    overflow: hidden;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    color: var(--accent-color);
    margin-bottom: 20px;
}

.btn {
    background: var(--button-bg);
    color: var(--button-text);
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 30px;
    text-decoration: none;
    display: inline-block;
    transition: 0.3s;
}

.btn:hover {
    background: var(--accent-color);
    color: var(--text-color);
}

footer {
    padding: 20px;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    bottom: 0;
}
